@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Spicy+Rice&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/background.png');
  background: rgb(69, 91, 226, .3)
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
