@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Spicy+Rice&display=swap');

.body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: #D9DEF9 ;
  z-index: 1;
}

.body::before{
    z-index: -1;
    animation: spinX 175s linear infinite;
    content: '';
    background: url("./images/bg3.png") no-repeat center center;
    background-attachment: fixed;
    min-height: 900px;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
}

@keyframes spinX
{  
0%   {-webkit-transform: rotate(0deg); }  
100% {-webkit-transform: rotate(360deg);}  
}


