@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Spicy+Rice&display=swap');

h1, h2 {
  font-family: 'Spicy Rice', display;
}

.body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: #D9DEF9 ;
  z-index: 1;
  color: #30343F;
}

.body::before{
    z-index: -1;
    animation: spinX 135s linear infinite;
    content: '';
    background: url("./images/bg4.png") no-repeat center;
    background-attachment: fixed;
    min-height: 820px;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
}

@keyframes spinX
{  
0%   {-webkit-transform: rotate(0deg); }  
100% {-webkit-transform: rotate(360deg);}  
}

.pointer{
  cursor: pointer;
}

.primary-btn{
  background-color: #455BE2;
  border: 2px solid #455BE2;
  min-width: 10rem;
}

.primary-btn:hover{
  background-color: #7282e9;
  border: 2px solid #7282e9;
}

.outline-primary-btn{
  border: 2px solid #455BE2;
  color:  #455BE2;
  font-weight: 500;
}

.outline-primary-btn:hover{
  border: 2px solid #7282e9;
  background: transparent;
  color: #7282e9;
}
